MVCpart/Service References/ActionService/Action.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Action.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Action.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="Action" nillable="true" type="q1:Car_Action" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempAction" nillable="true" type="q2:Car_Action" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAction_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAction_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAction_IDResult" nillable="true" type="q3:Car_Action" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllActionsResult" nillable="true" type="q4:ArrayOfCar_Action" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectActionDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q5:FuncOfCar_Actionbooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectActionDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectActionDIY_FuncResult" nillable="true" type="q6:ArrayOfCar_Action" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectActionDIY_Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q7:FuncOfCar_Actionbooleanl8JdLF_Pq" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q8:FuncOfCar_ActionCar_Action4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectActionDIY_FieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectActionDIY_FieldResult" nillable="true" type="q9:ArrayOfCar_Action" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>