WFpart/Service References/SalaryInfoSummeryService/SalaryInfoSummery1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Synthesize/SalaryInfoSummery.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Synthesize/SalaryInfoSummery.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SelectSalaryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShopID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RealName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Month" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSalaryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectSalaryInfoResult" nillable="true" type="q1:ArrayOfSalaryInfo_ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSalary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSalaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllSalaryResult" nillable="true" type="q2:ArrayOfSalary_ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRAP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllRAPResult" nillable="true" type="q3:ArrayOfRAP_ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRAP_UID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRAP_UIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectRAP_UIDResult" nillable="true" type="q5:ArrayOfRAP_ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSalaryAppend">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSalaryAppendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectSalaryAppendResult" nillable="true" type="q6:ArrayOfSalaryAppend_ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSalaryAppend_UID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UID" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSalaryAppend_UIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectSalaryAppend_UIDResult" nillable="true" type="q8:ArrayOfSalaryAppend_ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalaryLogID" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UID" type="q9:guid" />
        <xs:element minOccurs="0" name="RealName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSalaryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>