WFpart/Service References/WorkRAPService/WorkRAP3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Personnel/WorkRAP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Personnel/WorkRAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Personnel/WorkRAP.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddWorkRAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="WorkRAP" nillable="true" type="q1:User_WorkRAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkRAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkRAPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkRAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkRAPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkRAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkRAPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkRAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempWorkRAP" nillable="true" type="q2:User_WorkRAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkRAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWorkRAPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorkRAP_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkRAPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorkRAP_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectWorkRAP_IDResult" nillable="true" type="q3:User_WorkRAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorkRAP_UID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorkRAP_UIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectWorkRAP_UIDResult" nillable="true" type="q5:ArrayOfUser_WorkRAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllWorkRAPs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllWorkRAPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllWorkRAPsResult" nillable="true" type="q6:ArrayOfUser_WorkRAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorkRAPDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q7:FuncOfUser_WorkRAPbooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorkRAPDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectWorkRAPDIY_FuncResult" nillable="true" type="q8:ArrayOfUser_WorkRAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorkRAPDIY_Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q9:FuncOfUser_WorkRAPbooleanl8JdLF_Pq" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q10:FuncOfUser_WorkRAPUser_WorkRAP4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWorkRAPDIY_FieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectWorkRAPDIY_FieldResult" nillable="true" type="q11:ArrayOfUser_WorkRAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>