MVCpart/Service References/ShopService/Shop2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Shop.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Shop.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="Shop" nillable="true" type="q1:Car_Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShopID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempShop" nillable="true" type="q2:Car_Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShop_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShopID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShop_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectShop_IDResult" nillable="true" type="q3:Car_Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShop_Name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShopName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShop_NameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectShop_NameResult" nillable="true" type="q4:Car_Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShop_CityID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShop_CityIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectShop_CityIDResult" nillable="true" type="q5:ArrayOfCar_Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllShops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllShopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllShopsResult" nillable="true" type="q6:ArrayOfCar_Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShopDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q7:FuncOfCar_Shopbooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShopDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectShopDIY_FuncResult" nillable="true" type="q8:ArrayOfCar_Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShopDIY_Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q9:FuncOfCar_Shopbooleanl8JdLF_Pq" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q10:FuncOfCar_ShopCar_Shop4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShopDIY_FieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectShopDIY_FieldResult" nillable="true" type="q11:ArrayOfCar_Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>