WFpart/Service References/VersionService/Version.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Version.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Version.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="Version" nillable="true" type="q1:Car_Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempVersion" nillable="true" type="q2:Car_Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVersion_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVersion_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectVersion_IDResult" nillable="true" type="q3:Car_Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllVersions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllVersionsResult" nillable="true" type="q4:ArrayOfCar_Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVersionDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q5:FuncOfCar_Versionbooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVersionDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectVersionDIY_FuncResult" nillable="true" type="q6:ArrayOfCar_Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVersionDIY_Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q7:FuncOfCar_Versionbooleanl8JdLF_Pq" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q8:FuncOfCar_VersionCar_Version4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVersionDIY_FieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectVersionDIY_FieldResult" nillable="true" type="q9:ArrayOfCar_Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>