MVCpart/Service References/UserSummeryService/UserSummery2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFpart.SOA.EndPoint" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFpart.SOA.EndPoint" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Synthesize/UserSummery.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User_ViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_ViewModel" nillable="true" type="tns:User_ViewModel" />
</xs:schema>