MVCpart/Service References/UserSummeryService/UserSummery3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFpart" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFpart" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Synthesize/UserSummery.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="aspnet_UsersEX">
    <xs:sequence>
      <xs:element minOccurs="0" name="User_ID" type="ser:guid" />
      <xs:element minOccurs="0" name="User_Validation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_RealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Info" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aspnet_UsersEX" nillable="true" type="tns:aspnet_UsersEX" />
</xs:schema>