WFpart/Service References/SalaryLogService/SalaryLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFpart" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFpart" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Personnel/SalaryLog.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User_SalaryLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="SalaryLog_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SalaryLog_Mark" type="xs:boolean" />
      <xs:element minOccurs="0" name="SalaryLog_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalaryLog_User" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_SalaryLog" nillable="true" type="tns:User_SalaryLog" />
  <xs:complexType name="ArrayOfUser_SalaryLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User_SalaryLog" nillable="true" type="tns:User_SalaryLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser_SalaryLog" nillable="true" type="tns:ArrayOfUser_SalaryLog" />
</xs:schema>