WFpart/Service References/AccountService/Account1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFpart" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFpart" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Account.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Car_Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Account_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Account_User" type="ser:guid" />
      <xs:element minOccurs="0" name="Account_Shop" type="xs:int" />
      <xs:element minOccurs="0" name="Account_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Account_Info" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car_Account" nillable="true" type="tns:Car_Account" />
  <xs:complexType name="ArrayOfCar_Account">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car_Account" nillable="true" type="tns:Car_Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar_Account" nillable="true" type="tns:ArrayOfCar_Account" />
</xs:schema>