WFpart/Service References/BrandService/Brand1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Brand.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Brand.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="Brand" nillable="true" type="q1:Car_Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBrandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BrandID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBrandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempBrand" nillable="true" type="q2:Car_Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBrandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBrand_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BrandID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBrand_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectBrand_IDResult" nillable="true" type="q3:Car_Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBrand_Name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBrand_NameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectBrand_NameResult" nillable="true" type="q4:Car_Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllBrandsResult" nillable="true" type="q5:ArrayOfCar_Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBrandDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q6:FuncOfCar_Brandbooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBrandDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectBrandDIY_FuncResult" nillable="true" type="q7:ArrayOfCar_Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBrandDIY_Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q8:FuncOfCar_Brandbooleanl8JdLF_Pq" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q9:FuncOfCar_BrandCar_Brand4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBrandDIY_FieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectBrandDIY_FieldResult" nillable="true" type="q10:ArrayOfCar_Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>