WFpart/Service References/ProvinceService/Province.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Province.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Province.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="Province" nillable="true" type="q1:Car_Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProvinceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvinceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProvinceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempProvince" nillable="true" type="q2:Car_Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProvinceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvince_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvinceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvince_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectProvince_IDResult" nillable="true" type="q3:Car_Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvince_Name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvince_NameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectProvince_NameResult" nillable="true" type="q4:Car_Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllProvinces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllProvincesResult" nillable="true" type="q5:ArrayOfCar_Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvinceDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q6:FuncOfCar_Provincebooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvinceDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectProvinceDIY_FuncResult" nillable="true" type="q7:ArrayOfCar_Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvinceDIY_Filed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q8:FuncOfCar_Provincebooleanl8JdLF_Pq" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q9:FuncOfCar_ProvinceCar_Province4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProvinceDIY_FiledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectProvinceDIY_FiledResult" nillable="true" type="q10:ArrayOfCar_Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>