MVCpart/Service References/OrderService/Order2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Order.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/Order.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="Order" nillable="true" type="q1:Car_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempOrder" nillable="true" type="q2:Car_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayDepositResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOrder_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOrder_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectOrder_IDResult" nillable="true" type="q3:Car_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllOrdersResult" nillable="true" type="q4:ArrayOfCar_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOrderDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q5:FuncOfCar_Orderbooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOrderDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectOrderDIY_FuncResult" nillable="true" type="q6:ArrayOfCar_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOrderDIY_Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q7:FuncOfCar_Orderbooleanl8JdLF_Pq" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q8:FuncOfCar_OrderCar_Order4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOrderDIY_FieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectOrderDIY_FieldResult" nillable="true" type="q9:ArrayOfCar_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>