WFpart/Service References/RAPService/RAP3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Personnel/RAP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Personnel/RAP.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddRAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="RAP" nillable="true" type="q1:User_RAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRAPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RAPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRAPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempRAP" nillable="true" type="q2:User_RAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRAPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRAP_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RAPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRAP_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectRAP_IDResult" nillable="true" type="q3:User_RAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRAPs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRAPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllRAPsResult" nillable="true" type="q4:ArrayOfUser_RAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRAPDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q5:FuncOfUser_RAPbooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRAPDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectRAPDIY_FuncResult" nillable="true" type="q6:ArrayOfUser_RAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRAPDIY_Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q7:FuncOfUser_RAPbooleanl8JdLF_Pq" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q8:FuncOfUser_RAPUser_RAP4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRAPDIY_FieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectRAPDIY_FieldResult" nillable="true" type="q9:ArrayOfUser_RAP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>