WFpart/Service References/CityService/City.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/City.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFpart" />
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/CarRental/City.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="City" nillable="true" type="q1:Car_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="TempCity" nillable="true" type="q2:Car_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCity_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCity_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectCity_IDResult" nillable="true" type="q3:Car_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCity_Name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProvinceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCity_NameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectCity_NameResult" nillable="true" type="q4:Car_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCity_ProvinceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvinceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCity_ProvinceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectCity_ProvinceIDResult" nillable="true" type="q5:ArrayOfCar_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCitys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCitysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectAllCitysResult" nillable="true" type="q6:ArrayOfCar_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCityDIY_Func">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q7:FuncOfCar_Citybooleanl8JdLF_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCityDIY_FuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectCityDIY_FuncResult" nillable="true" type="q8:ArrayOfCar_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCityDIY_Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="where" nillable="true" type="q9:FuncOfCar_Citybooleanl8JdLF_Pq" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="select" nillable="true" type="q10:FuncOfCar_CityCar_City4LoRQ72s" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCityDIY_FieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFpart" minOccurs="0" name="SelectCityDIY_FieldResult" nillable="true" type="q11:ArrayOfCar_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>