WFpart/Service References/SalaryAppendService/SalaryAppend3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFpart" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFpart" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Personnel/SalaryAppend.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User_SalaryAppend">
    <xs:sequence>
      <xs:element minOccurs="0" name="SalaryAppend_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SalaryAppend_User" type="ser:guid" />
      <xs:element minOccurs="0" name="SalaryAppend_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="SalaryAppend_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalaryAppend_Info" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_SalaryAppend" nillable="true" type="tns:User_SalaryAppend" />
  <xs:complexType name="ArrayOfUser_SalaryAppend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User_SalaryAppend" nillable="true" type="tns:User_SalaryAppend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser_SalaryAppend" nillable="true" type="tns:ArrayOfUser_SalaryAppend" />
</xs:schema>