WFpart/Service References/SalaryService/Salary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFpart" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFpart" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kazenotsubasa/SOA/Function/Personnel/Salary.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User_Salary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Salary_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Salary_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Salary_Role" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_Salary" nillable="true" type="tns:User_Salary" />
  <xs:complexType name="ArrayOfUser_Salary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User_Salary" nillable="true" type="tns:User_Salary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser_Salary" nillable="true" type="tns:ArrayOfUser_Salary" />
</xs:schema>